{% extends "layout.html" %}

{% block content %}
  <div class="row card-board">
    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">Barn</h5>
        </div>
        <div class="card-body">
          <div class="last-barn-image" style="min-height: 280px;">
            <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="Last image">
          </div>
          <hr class="mt-3 mb-2">
          <div class="last-barn-datetime" style="min-height: 24px"></div>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">Scene Recognation</h5>
        </div>
        <div class="card-body">
          <canvas id="chartSceneRecognation" width="400" height="230"></canvas>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">Instance Segmentation</h5>
        </div>
        <div class="card-body">
          <div class="last-segmentation-image" style="min-height: 280px;">
            <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="Last image">
          </div>
          <hr class="mt-3 mb-2">
          <div class="last-segmentation-features" style="min-height: 24px"></div>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">Statistics</h5>
        </div>
        <div class="card-body">
            <canvas id="chartStatistics" width="400" height="230"></canvas>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">IoT sensors</h5>
        </div>
        <div class="card-body">
            <canvas id="chartSensors" width="400" height="230"></canvas>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">Classes over time (fake)</h5>
        </div>
        <div class="card-body">
            <canvas id="chartClasses" width="400" height="230"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock %}